@tailwind base;
@tailwind components;

.has-fancy-border-bottom::after {
	content: "";
  	@apply block h-2 bg-indigo-100 -mt-2 float-right clear-both;
}

.has-fancy-border-bottom--normal::after {
  	@apply w-3/5;
}

.has-fancy-border-bottom--larger::after {
  	@apply w-4/5;
}

@tailwind utilities;
